.home{
    background-color: black;
    width: 100vw;
    
    height: 100vh;
}
.title{
    text-align: center;
    margin-top: 5%;
    font-family: 'Geo', sans-serif;
    font-size: 9em;
    color: white;
}
.avatars{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.avatarSuperMan{
    justify-self: center;
    min-width: 150px;
    padding: 2rem;
}

.avatarSuperMan:hover{
    
    width: 620px;

}

.avatarBatman{
    
    min-width: 150px;

}

.avatarBatman:hover{
    
    width: 620px;

}