
input[type=text] {
    transform: translate(-50%,-60%);
    border:0;
    border-radius: 5px;
    padding:5px;
    background-color: white;
    width: 150%;
    min-width: 80px;
    background-image: url('https://image.flaticon.com/icons/svg/1086/1086933.svg');
    background-repeat: no-repeat;
    background-size: 70% 70%;
    background-position: 190% 50%;
    box-shadow: 0px 6px 13px -3px rgba(0,0,0,0.75);
}

::placeholder {
    color:rgb(112, 112, 112);
    text-align: center;
}